body{
   font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;
    margin: 0px;

}

#my-title{
    background-color: #4aaaa5;
    /* padding:23px 15px 24px 15px; */
    height:75px;
    text-align: center;
    /* vertical-align: middle; */
    line-height:70px;
    color:white;
    width:25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    float:left;
    font-size: 25px;
     overflow: hidden;
}




  #main-header {
      width:980px;
      margin: 0 auto;
      height:75px;
      
}      

  .links{
      padding:20px 0 20px 0;

  }

  .links a{
    font-family:  'Georgia', Times, Times New Roman, serif;
    color: #777777;
    text-decoration: none

}
h2{
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  clear:both;

}
hr{
    color:#dddddd;
}

.container-outer {
     background-color: #cccccc;  
    width:100%;
    margin:0;
    padding:30px 0px 60px 0px
}
.container {
    width: 950px;
    margin: 0 auto;
    background-color: #ffffff; 
    padding: 15px;
}

  /* #main-about,
  #paragraph,*/
  #my-image {
      float: left;
      
  } 
  #my-image{
      margin-right:15px;
      border: #cccccc 2px solid;
  }

  #paragraph {
      line-height:25px;
  }
  #footer{
    width:100%;
    margin:0;
    text-align: center;
    line-height:25px;
    height:50px;
    background-color:#666666;
    color:#dddddd;
    font-size:x-small;
    /* border-top:8px solid red; */
  }

  /* --------------------Portfolio--------------------- */
  #image-list img{
    float:left;
  }

  #wrap {
      width: 500px;
      clear:none;
      float:left;

  }


  /* .left {
    width: 240px;
    float: left;
  }

  .right {
    width: 240px;
    float: right;
  margin:10px;
  } */

    .positioning {
        background-color: #4aaaa5;
        height:40px;
        width:240px;
        position: absolute;
        text-align: center;
        line-height: 35px;
        margin:0;
        overflow:hidden;
        color:#ffffff;
        top: -60;
    }
        
        .imageWrap {
        float: left;
        position: relative;
      }
  
      .image {
        float: left;
        width: 350px;
        height: 350px;
        position: relative;
        margin: 0px 0px 15px 15px;
      }
  
      /* .imageList img {
        float: left;
        margin: 0px 0px 15px 15px;
      } */
  
      .imageTitle {
        background-color: #4aaaa5;
        height: 40px;
        width: 350px;
        position: absolute;
        text-align: center;
        line-height: 35px;
        margin-top: 280px;
        margin-left: 15px;
        overflow: hidden;
        color: #ffffff;
      }

    /* -------------- contact------------------------ */
   
   

    #submit_button {
        padding:5px 15px 5px 15px;
        color:#ffffff
    }
  

  











